<!-- Login UI -->
<div class='login'>
  <md-card>
    <md-card-title>Training Admin System</md-card-title>
    <md-card-subtitle>Login</md-card-subtitle>
    <md-card-content>
      <md-input-container color="accent">
        <input mdInput type="email" placeholder="E-mail">
      </md-input-container>
    </md-card-content>
    <md-card-content>
      <md-input-container color="accent">
        <input mdInput type="password" placeholder="Password">
      </md-input-container>
    </md-card-content>
    <md-card-content>
      <md-checkbox>Remember Me</md-checkbox>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="accent" routerLink="/home">Login</button>
    </md-card-actions>
  </md-card>
</div>