/* Login CSS */
.login {
    width: 90%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    font-family : "Roboto","Helvetica Neue",sans-serif;
  }
  