<!-- Login UI -->
<div class='login'>
  <md-card>
    <md-card-title>Training Admin System</md-card-title>
    <md-card-subtitle>Login</md-card-subtitle>
    <form>
      <md-card-content>   
        <md-form-field color="accent">
            <span mdPrefix>mitrais\</span>
          <input mdInput placeholder="Username">
        </md-form-field>
      </md-card-content>
      <md-card-content>
        <md-form-field color="accent">
          <input mdInput type="password" placeholder="Password">
        </md-form-field>
      </md-card-content>
      <md-card-content>
        <md-checkbox>Remember Me</md-checkbox>
      </md-card-content>
      <md-card-content>
        <button md-raised-button color="accent" routerLink="/home">Login</button>
      </md-card-content>
    </form>
  </md-card>
</div>