<div>
  <md-card>
    <md-card-title>Training Period</md-card-title>
    <md-card-content>
      <div class="filter inline">
        <md-form-field color="accent">
          <input mdInput #filter placeholder="Search">
        </md-form-field>
      </div>
      <div class="add-period inline"><button md-raised-button color="accent" (click)="openDialog()"><md-icon>add</md-icon> Add Period</button></div>
      
      <md-table #table [dataSource]="dataSource">
        
        <ng-container mdColumnDef="trainingName">
          <md-header-cell *mdHeaderCellDef> Training Name </md-header-cell>
          <md-cell *mdCellDef="let period"> {{period.trainingName}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="activeStatus">
          <md-header-cell *mdHeaderCellDef> Active </md-header-cell>
          <md-cell *mdCellDef="let period"> {{period.activeStatus}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="coursesCount">
          <md-header-cell *mdHeaderCellDef> # of Courses </md-header-cell>
          <md-cell *mdCellDef="let period"> {{period.coursesCount}} </md-cell>
        </ng-container>
        
        <ng-container mdColumnDef="startDate">
          <md-header-cell *mdHeaderCellDef> Start Date </md-header-cell>
          <md-cell *mdCellDef="let period"> {{period.startDate}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="endDate">
          <md-header-cell *mdHeaderCellDef> End Date </md-header-cell>
          <md-cell *mdCellDef="let period"> {{period.endDate}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="createdBy">
          <md-header-cell *mdHeaderCellDef> Created By </md-header-cell>
          <md-cell *mdCellDef="let period"> {{period.createdBy}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="editedBy">
          <md-header-cell *mdHeaderCellDef> Edited By </md-header-cell>
          <md-cell *mdCellDef="let period"> {{period.editedBy}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="action">
            <md-header-cell *mdHeaderCellDef> Action </md-header-cell>
            <md-cell *mdCellDef="let period">
              

              <button md-icon-button [mdMenuTriggerFor]="menu"><md-icon>more_horiz</md-icon></button>
              <md-menu #menu="mdMenu">
                  <button md-icon-button class="md-small" color="accent" mdTooltip="Eligible Participant List"><md-icon>supervisor_account</md-icon></button>
                  <button md-icon-button class="md-small" color="accent" mdTooltip="Schedule List"><md-icon>date_range</md-icon></button>
                  <button md-icon-button class="md-small" color="accent" mdTooltip="Edit"><md-icon>border_color</md-icon></button>
                  <button md-icon-button class="md-small" color="warn" mdTooltip="Delete"><md-icon>delete</md-icon></button>
              </md-menu>


              <!-- <div>
                <span><button md-icon-button class="md-small" mdTooltip="Eligible Participant List"><md-icon>supervisor_account</md-icon></button></span>
                <span><button md-icon-button class="md-small" mdTooltip="Schedule List"><md-icon>date_range</md-icon></button></span>
                <span><button md-icon-button class="md-small" mdTooltip="Edit"><md-icon>border_color</md-icon></button></span>
                <span><button md-icon-button class="md-small" mdTooltip="Delete"><md-icon>delete</md-icon></button></span>
              </div>
              <div>
                
              </div> -->
            </md-cell>
          </ng-container>
    
        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>

      <md-paginator #paginator
            [length]="periodDatabase.data.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50, 100]">
      </md-paginator>
 
    </md-card-content>
  </md-card>
</div>

