<div>
  <md-card>
    <md-card-title>Training Period</md-card-title>
    <md-card-content>
        <div class="add-period"><button md-raised-button color="accent" (click)="openDialog()"><md-icon>add</md-icon> Add Period</button></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem laboriosam vel consectetur at. Aperiam ipsa recusandae ea, consectetur perspiciatis dolore animi laudantium iste accusantium minus, deleniti dignissimos explicabo repudiandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem laboriosam vel consectetur at. Aperiam ipsa recusandae ea, consectetur perspiciatis dolore animi laudantium iste accusantium minus, deleniti dignissimos explicabo repudiandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem laboriosam vel consectetur at. Aperiam ipsa recusandae ea, consectetur perspiciatis dolore animi laudantium iste accusantium minus, deleniti dignissimos explicabo repudiandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem laboriosam vel consectetur at. Aperiam ipsa recusandae ea, consectetur perspiciatis dolore animi laudantium iste accusantium minus, deleniti dignissimos explicabo repudiandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem laboriosam vel consectetur at. Aperiam ipsa recusandae ea, consectetur perspiciatis dolore animi laudantium iste accusantium minus, deleniti dignissimos explicabo repudiandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem laboriosam vel consectetur at. Aperiam ipsa recusandae ea, consectetur perspiciatis dolore animi laudantium iste accusantium minus, deleniti dignissimos explicabo repudiandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem laboriosam vel consectetur at. Aperiam ipsa recusandae ea, consectetur perspiciatis dolore animi laudantium iste accusantium minus, deleniti dignissimos explicabo repudiandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem laboriosam vel consectetur at. Aperiam ipsa recusandae ea, consectetur perspiciatis dolore animi laudantium iste accusantium minus, deleniti dignissimos explicabo repudiandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem laboriosam vel consectetur at. Aperiam ipsa recusandae ea, consectetur perspiciatis dolore animi laudantium iste accusantium minus, deleniti dignissimos explicabo repudiandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem laboriosam vel consectetur at. Aperiam ipsa recusandae ea, consectetur perspiciatis dolore animi laudantium iste accusantium minus, deleniti dignissimos explicabo repudiandae.</p>
    </md-card-content>
  </md-card>
</div>

