

md-form-field{
    width: 100%;
}
.filter{
    width: 50%;
}
.inline {
    display: inline-block;
}

.parent {
  position: relative;
}
.right {
    position: absolute;
    right: 0;
    margin-right: 10px;
}