<!-- Dashboard UI -->
<md-toolbar color="primary" class="mat-elevation-z4">
<span>
    <button class="menu" type="button" md-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
    </button>
</span>
<span><a class="title" routerLink="/home" (click)=sidenav.close()>Training Admin System</a></span>
</md-toolbar>

<md-sidenav-container>
<md-sidenav #sidenav>
<button md-button (click)=sidenav.close() routerLink="/home/period" color="accent">Period</button>
<button md-button (click)=sidenav.close() routerLink="/home/user" color="accent">User</button>
<button md-button (click)=sidenav.close() routerLink="/home/enrollment" color="accent">Enrollment</button>
<button md-button (click)=sidenav.close() routerLink="/home/achievement" color="accent">Achievement</button>
<button md-button (click)=sidenav.close() routerLink="/home/maintenance" color="accent">Training Maintenance</button>
<hr>
<button md-button color="warn" (click)=logout() routerLink="/login">Logout</button>
</md-sidenav>

<div class="app-content mat-typography">
    <router-outlet></router-outlet>
</div>

</md-sidenav-container>