
<!-- Dashboard UI -->
<md-sidenav-container>
<md-toolbar color="primary" >
<span>
    <button class="menu" type="button" md-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
    </button>
</span>
<span><a class="title" routerLink="/home" (click)=sidenav.close()>Training Admin System</a></span>
</md-toolbar>
<md-sidenav #sidenav>

<div style='background-color:#673AB7'>
<br>
<div style='color:#FFFFFF;font-size: 18px;font-family:Roboto; '>Asda</div><br>
<div  style='color:#FFFFFF;font-size: 18px;font-family:Roboto;'>Administrator</div><br>
</div>
<button md-button (click)=sidenav.close() routerLink="/home/period" color="white">Period</button>
<button md-button (click)=sidenav.close() routerLink="/home/user" color="white">User</button>
<button md-button (click)=sidenav.close() routerLink="/home/enrollment" color="white">Enrollment</button>
<button md-button (click)=sidenav.close() routerLink="/home/achievement" color="white">Achievement</button>
<button md-button (click)=sidenav.close() routerLink="/home/maintenance" color="white">Training Maintenance</button>

<div style='background-color:#B71C1C'>
<button md-button color="white" routerLink="/">Logout</button>
</div>


</md-sidenav>

<div class="app-content mat-typography">
    <router-outlet></router-outlet>
</div>

</md-sidenav-container>