<!-- Dashboard UI -->
<md-toolbar color="primary" class="mat-elevation-z4">
<span>
    <button class="menu" type="button" md-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
    </button>
</span>
<span><a class="title" routerLink="/home">Training Admin System</a></span>
</md-toolbar>

<md-sidenav-container>
<md-sidenav #sidenav>
<button md-button (click)=sidenav.close() color="accent" routerLink="/home/period" >Period</button>
<button md-button (click)=sidenav.close()>User</button>
<button md-button (click)=sidenav.close() color="accent">Enrollment</button>
<button md-button (click)=sidenav.close()>Achievement</button>
<hr>
<button md-button color="warn" routerLink="/">Logout</button>
</md-sidenav>

<div class="app-content mat-typography">
    <router-outlet></router-outlet>
</div>
</md-sidenav-container>